/* Inicio de Mensajes de Contraseña */


.msjPassword01
{
    font-family:Trebuchet MS;
	color:#ff0000;
	font-weight:bold;
}
.msjPassword02
{
    font-family:Trebuchet MS;
	color:#666600;
	font-weight:bold;
}
.msjPassword03
{
    font-family:Trebuchet MS;
	color:#0000ff;
	font-weight:bold;
}
.msjPassword04
{
    font-family:Trebuchet MS;
	color:#006666;
	font-weight:bold;
}
.msjPassword05
{
    font-family:Trebuchet MS;
	color:#009900;
	font-weight:bold;
}
/* Fin de Mensajes de Contraseña */